<div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput type="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div>
        <button mat-button (click)="login()">
            Login
        </button>
    </div>

</div>