<!-- <img mat-card-image [src]="'/api' + data.images[0].url" [alt]="data.images[0].alt_text"> -->
<app-image-slider [images]="data.images"></app-image-slider>
<div class="header">
    <h1>{{data.name}}</h1>
    <h1>{{data.price}} €</h1>
</div>

<mat-dialog-content>
    <p>{{data.description}}</p>
</mat-dialog-content>
<!-- <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button> -->
<!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->